    video{
      cursor: pointer;
    }
    .video_dam {
         position: relative;
         width:100%;
         height:22.5rem;
       }
        .video_dam video {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: fill;
        }

        .vid_youtube{
             width:100%;
             height:22.5rem;
        }

        .play-button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

         @media screen and (max-width: 1199px){
        	.video_dam{
               max-height:19rem;
            }
            .vid_youtube{
             height:19rem;
            }
        }

        @media screen and (max-width: 993px){
        	.video_dam,.vid_youtube{
              height:20rem;
            }
        }
        @media screen and (max-width: 769px){
        	.video_dam{
               max-height:343.34px;
            }
            .vid_youtube{
              height:343.34px;
            }
        }
        @media screen and (max-width: 426px){
        	.video_dam{
               max-height:191.26px;
            }
            .vid_youtube{
              height:191.26px;
            }

        }
        @media screen and (max-width: 376px){
        	.video_dam {
               max-height:166.76px;
            }
            .vid_youtube{
              height:166.76px;
            }
        }
        @media screen and (max-width: 321px){
        	.video_dam {
               max-height:150.95px;
            }
            .vid_youtube{
              height:150.95px;
            }
        }
