.buynow{
       .cmp-button{
            font-size: 18px;
            line-height: 34px;
            font-weight: bold;
            padding: 6px 40px;
            letter-spacing: 2px;
            color: #002d72;
            background-color: #ffd100;
            border: none;
            text-decoration: none;
       }
       .cmp-button:hover{
            cursor:pointer;
            box-shadow: 0 2px 24px 0 #00000066;
       }
}

.button-center{
    text-align:center;
}
