.buynow{
       text-align:center;
       .cmp-button{
            font-size: 18px;
            font-weight: 400;
            line-height: 34px;
            padding: 6px 40px;
            color: #002d72;
            background-color: #ffd100;
            border: none;
            box-shadow: 0 2px 24px 0 #00000066;
            text-decoration: none;
       }
}