.container-v1 {
    max-width: 1200px;
    margin: auto;
    background-color: white;
    float: none !important;
}
.container-v2 {
    background-color:#ececeb;
    max-width: 1200px;
    margin: auto;
    float: none !important;
}

.container_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap:30px; /* new */
    margin-bottom: 10px;
}
.responsiveGrid{  /* new */
   height:100%;
   width:100%;
}
.col-md-4, .col-md-3, .col-md-2, .col-md-6 > .responsiveGrid {  /* modified */
    display: flex;
    flex-direction: column;
}

.col-md-8 {
    display:flex;
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.responsiveGrid > * {
    padding: 0 15px;
   /* margin-bottom: 30px; */
}

@media (max-width: 425px) {
     [data-variation="variationtwo"] > .container_items > div:not(:first-child) {
        flex: 0 0 93% !important;
        max-width: 93% !important;
    }
}

@media (max-width: 993px) {
    [data-variation="variationtwo"] > .container_items > div:first-child {
        flex: 0 0 96%;
        max-width: 96%;
      /*  padding: 0 15px;
        margin-bottom: 30px; */
    }

    [data-variation="variationtwo"] > .container_items > div:not(:first-child) {
        flex: 0 0 46.5%;
        max-width: 46.5%;
       /* padding: 0 15px;
        margin-bottom: 30px; */
    }

    [data-variation="variationtwo"] > .container_items{
        column-gap:3%;
    }

    .container-v1, .container-v2 {
        max-width: 720px !important;
    }
}

@media (max-width: 767px) {
    [data-variation="variationthree"] > .container_items > * {
        max-width:100%;
        flex: 0 0 100%;
        padding: 0px !important;
    }

    [data-variation="variationtwo"] > .container_items > div:first-child {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px !important;
        /* margin-bottom: 30px !important; */
    }

    [data-variation="variationtwo"] > .responsiveGrid > * {
        padding: 0px !important;
    }

    [data-variation="variationtwo"] > .container_items > div:not(:first-child) {
        flex: 0 0 95%;
        max-width: 95%;
        padding: 0px !important;
        /*  margin-bottom: 15px; */
    }

    [data-variation="variationone"] > .container_items{
    	padding:0 15px;
    }

    [data-variation="variationone"] > .container_items > div:first-child {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    [data-variation="variationone"] > .container_items > div:not(:first-child) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .container-v1, .container-v2 {
                max-width: 100% !important;
    }
}
@media (max-width: 768px) {
    [data-variation="variationfour"] > .container_items > div:first-child {
        flex: 0 0 95%;
        max-width: 95%;
        margin-bottom: 15px;
        padding: 0 15px;
    }

    [data-variation="variationfour"] > .container_items > div:not(:first-child) {
        flex: 0 0 95%;
        max-width: 95%;
        margin-bottom: 15px;
        padding: 0 15px;
    }

    .container-v1, .container-v2 {
            max-width: 100% !important;
    }
}

@media(min-width:1200px){
    .container_items{
        margin-left:24px;
        margin-right:24px;
    }
}

@media(max-width:1199px){
    .container-v1, .container-v2 {
        max-width: 960px;
    }
}

[data-variation="variationthree"] > .container_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap:15px;

}

[data-variation="variationthree"] > .container_items > *{
    max-width:25%;
    flex: 0 0 25%;
}

@media (max-width: 992px){
    [data-variation="variationthree"] > .container_items > * {
            max-width:50%;
            flex: 0 0 50%;
    }
}

.card-signup{
    .card_container {
      min-height: 0px !important;
    }
}

.card-pdp{
    @media (max-width: 767px){
        [data-variation="variationthree"] > .container_items > * {
                max-width:50% !important;
                flex: 0 0 50% !important;
        }
    }
}

