<div class="nutrition-info" data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-use.myObject="com.adobe.aem.guides.glucerna.core.models.NutritionInformation">
    <div class="nutrition-title" data-sly-test="${myObject.nutritionInformationTitle}">${myObject.nutritionInformationTitle}</div>
    <div class="serving-size" data-sly-test="${myObject.servingSizeInfm}">${myObject.servingSizeInfm}</div>
    <table class="nutrition-table" data-sly-test="${myObject.tableTitle}">
        <thead class="nutrition-thead">
        <tr class="tableheading">
            <th class="tableheadingdata">${myObject.tableTitle}</th>
            <th class="tableheadingdata">${myObject.tableValueTitle}</th>
        </tr>
        </thead>
        <tbody class="nutrition-tbody">
        <tr class="tabledata" data-sly-repeat.table1="${myObject.fieldNutrition}">
            <td class="tablerowdata">${table1.elementName}</td>
            <td class="tablerowdata">${table1.dailyValue}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <div class="nutrition-title" data-sly-test="${myObject.vitaminsAndMineralsTitle}">${myObject.vitaminsAndMineralsTitle}</div>
    <table class="nutrition-table" data-sly-test="${myObject.vitaminsTitle}">
        <thead class="nutrition-thead">
        <tr class="tableheading">
            <th class="tableheadingdata">${myObject.vitaminsTitle}</th>
            <th class="tableheadingdata">${myObject.vitaminsTitl}</th>
        </tr>
        </thead>
        <tbody class="nutrition-tbody">
        <tr class="tabledata" data-sly-repeat.table2="${myObject.fieldVitamin}">
            <td class="tablerowdata">${table2.elementName}</td>
            <td class="tablerowdata">${table2.dailyValue}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="nutrition-table" data-sly-test="${myObject.mineralTitle}">
        <thead class="nutrition-thead">
        <tr class="tableheading">
            <th class="tableheadingdata">${myObject.mineralTitle}</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="nutrition-tbody">
        <tr class="tabledata" data-sly-repeat.table3="${myObject.fieldMineral}">
            <td class="tablerowdata">${table3.elementName}</td>
            <td class="tablerowdata">${table3.dailyValue}</td>
        </tr>
        </tbody>

    </table>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='nutrition-info'}"></sly>