
.btn-expanded {
    display: flex;
    justify-content: end;
    font-size: 14px;
    line-height: 20px;
    color: #002d72;
    margin-bottom: 16px;
    padding-right: 10px;
  }

#toggleAccordion {
    border: none;
    background: none;
  }
  #toggleAccordion:hover {
    cursor: pointer;
  }