$teaser-height: 400px;
$teaser-img-height: $teaser-height;

.cmp-teaser--card {
  .cmp-teaser {
    position: relative;
    max-height: $teaser-height;
    overflow: hidden;
    height: 22.5rem;
    /* background-color: #ededed; */

    .cmp-teaser__image {
      position: absolute;
      width: 100%;
      height:100%;
      .cmp-image{
        height:100%;
      }
      .cmp-image__image {
        width: 100%;
        height: 100%;
      }
    }

    .cmp-teaser__content {
      position: absolute;
      z-index: 1;
      left: 30px;
      bottom: 0px;
      top: auto;
      height: max-content;

      .cmp-teaser__pretitle {
        display: none;
      }
    }

    .cmp-teaser__title {
      display: none;
    }

    .cmp-teaser__description {
      color: rgb(0, 45, 114);
      font-size: 46px;
      font-weight: 700;

      &h1 {
        margin: 0px;
      }
    }

    .cmp-teaser__action-container {
      display: none;
    }
  }

  .mobile_details {
    display: none;
  }
}

@media (max-width: 768px) {
  .cmp-teaser--card {
    display: flex;
    flex-direction: column-reverse;
    background-color: #FFD100;

    .cmp-teaser {
      height: fit-content;

      .cmp-teaser__image {
        display: none;
      }

      .cmp-teaser__content {
        position: static;
      }

      .cmp-teaser__description {
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        padding: 0px 5%;
        width: max-content;
      }
    }

    .mobile_details {
      display: block;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .cmp-teaser--card {
      .cmp-teaser {
        height:19rem;
        .cmp-teaser__description {
          font-size: 32px;
          line-height: 38px;
        }
      }
  }
}
