.main_container {
  background-color: #002d72;
  height: 250px;
  max-width: 100%;
  margin: 0 auto;
}
footer.experiencefragment {
  background-color: #002d72;
}

.parent_container {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  padding-top: 33px;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 30px;
}

.items2,
.items5 {
  margin-top: 48px;
}
.list {
  width: 200px;
  height: 150px;
}
.hidden_items2,
.hidden_items5 {
  display: none !important;
}

.parent_container a {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
}

.parent_container a:hover {
  cursor: pointer;
}

.parent_container h6 {
  font-family: "brandon_textblack", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parent_container button {
  display: none;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.parent_container button.rotated {
  transform: rotate(180deg);
}

.parent_container button:hover {
  color: #ff0;
}

@media only screen and (max-width: 768px) {
  .main_container {
    height: auto;
    max-width: 100%;
  }

  .parent_container {
    display: block;
    margin: 0;
  }

  .list {
    margin: 0 16px;
    width: auto;
    height: auto;
  }

  .list h6 {
    cursor: pointer;
    margin: 0;
    padding: 16px 0;
  }

  .list a {
    display: none;
    padding-left: 16px;
    transition: 2s ease in;
  }

  .list.active a {
    display: block !important;
  }

  .items2,
  .items5 {
    display: none;
  }

  .parent_container button {
    display: block;
  }

  .items1 .items2,
  .items4 .items5 {
    display: block;
  }
  // .hidden_items2,
  // .hidden_items5 {
  //   display: block !important;
  // }
}

@media screen and (max-width: 350px) {
  .main_container {
    padding: 20px 40px;
  }
}
