<sly
  data-sly-use.demo="com.adobe.aem.guides.glucerna.core.models.FooterMultifieldParent"
/>

<div class="main_container">
  <div class="parent_container">
    <div class="list items1">
      <h6>
        ${demo.title1}<button><img src="${properties.accordionIcon}" /></button>
      </h6>
      <sly data-sly-list.multi1="${demo.fields1}">
        <a
          href="${multi1.link}"
          target="${multi1.openInNewTab ? '_blank' : '_self'}"
          >${multi1.itemName}</a
        >
      </sly>
      <sly data-sly-list.multi2="${demo.fields2}">
        <a
          class="hidden_items2"
          href="${multi2.link}"
          target="${multi2.openInNewTab ? '_blank' : '_self'}"
          >${multi2.itemName}</a
        >
      </sly>
    </div>
    <div class="list items2">
      <sly data-sly-list.multi2="${demo.fields2}">
        <a
          href="${multi2.link}"
          target="${multi2.openInNewTab ? '_blank' : '_self'}"
          >${multi2.itemName}</a
        >
      </sly>
    </div>
    <div class="list items3">
      <h6>
        ${demo.title3}<button><img src="${properties.accordionIcon}" /></button>
      </h6>
      <sly data-sly-list.multi3="${demo.fields3}">
        <a
          href="${multi3.link}"
          target="${multi3.openInNewTab ? '_blank' : '_self'}"
          >${multi3.itemName}</a
        >
      </sly>
    </div>
    <div class="list items4">
      <h6>
        ${demo.title4}<button><img src="${properties.accordionIcon}" /></button>
      </h6>
      <sly data-sly-list.multi4="${demo.fields4}">
        <a
          href="${multi4.link}"
          target="${multi4.openInNewTab ? '_blank' : '_self'}"
          >${multi4.itemName}</a
        >
      </sly>
      <sly data-sly-list.multi5="${demo.fields5}">
        <a
          class="hidden_items5"
          href="${multi5.link}"
          target="${multi5.openInNewTab ? '_blank' : '_self'}"
          >${multi5.itemName}</a
        >
      </sly>
    </div>
    <div class="list items5">
      <sly data-sly-list.multi5="${demo.fields5}">
        <a
          href="${multi5.link}"
          target="${multi5.openInNewTab ? '_blank' : '_self'}"
          >${multi5.itemName}</a
        >
      </sly>
    </div>
  </div>
</div>
